name: beget_integration
on: workflow_dispatch
jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: beget_integration
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: config
        run: |
          git config --global user.email "njkznu@gmail.com"
          git config --global user.name "kuzanatoliy"
          echo HOST_NAME=http://${{ vars.USER_ID }}.beget.tech >> .env
          echo ROOT_PATH=/${{ vars.ROOT_DIRECTORY }} >> .env
      - name: build
        run: node --env-file=.env script.js
      - name: seo
        run: |
          cp favicon.svg dist/favicon.svg
      - name: deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ vars.USER_ID }}.beget.tech
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./dist/
          server-dir: ./${{ vars.ROOT_DIRECTORY }}/
          protocol: ftps
          dangerous-clean-slate: true
