name: lighthouse
on:
  schedule:
    - cron: "0 0 1 1 *"
  workflow_dispatch:
jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: github_production
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: build
        run: node script.js
      - name: Install Lighthouse CI
        run: npm install -g @lhci/cli
      - name: Run Lighthouse CI
        run: lhci autorun
