name: aws_integration_cleanup
on: push
jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: yandex_cloud_integration
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: remove bucket
        run: |
          yc storage s3 rm s3://${{ vars.BUCKET_NAME }} --recursive 
          yc storage bucket delete ${{ vars.AWS_BUCKET_NAME }} --region ${{ vars.AWS_REGION }}
