name: yandex_cloud_integration
on: workflow_dispatch
jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: yandex_cloud_integration
    # env:
    # AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: "install yandex clound cli"
        run: curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
      - name: "test"
        run: ya -h
