name: yandex_cloud_integration_cleanup
on: workflow_dispatch
jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: yandex_cloud_integration
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: lxhan/yc-install@v3
      - name: "create cloud artifacts"
        run: |
          echo ${{ secrets.YANDEX_CLOUD_SA_KEY }} > key.json
          yc config set service-account-key key.json
      - name: remove bucket
        run: |
          yc storage s3 rm s3://${{ vars.BUCKET_NAME }} --recursive 
          yc storage bucket delete ${{ vars.BUCKET_NAME }}
