name: yandex_cloud_integration
on: push
jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: yandex_cloud_integration
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: lxhan/yc-install@v3
      - name: "create artifacts"
        run: |
          echo "${{ secrets.YANDEX_CLOUD_SA_KEY }}" > key.json
          yc config set service-account-key key.json
      - name: "test"
        run: yc config list
