name: yandex_cloud_integration
on: push
jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: yandex_cloud_integration
    # env:
    # AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: lxhan/yc-install@v3
      - name: "test"
        run: yc -h
