name: yandex_cloud_integration
on: push
jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: yandex_cloud_integration
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: lxhan/yc-install@v3
      - name: "create artifacts"
        run: |
          echo ${{ secrets.TEMP }} > key.json
          yc config set service-account-key key.json
      # - name: "create artifacts"
      #  run: |
      #    echo ${{ secrets.YANDEX_CLOUD_SA_KEY }} > key.json
      #    yc config set service-account-key key.json
      - name: check that bucket exists
        id: bucket-check
        continue-on-error: true
        run: |
          set +e
          S3_CHECK_RESULT=$(yc storage bucket get ${{ vars.BUCKET_NAME }} 2>&1)
          ERROR_CODE=$?
          echo S3_CHECK_RESULT=${S3_CHECK_RESULT//[\(\)]/_} >> $GITHUB_OUTPUT
          echo $ERROR_CODE
          echo $S3_CHECK_RESULT
          set -e
          exit $ERROR_CODE
      # - name: "test"
      #  run: yc config list
